<div class="select">
  <div class="select-content">
    <label>{{ "label.languages" | translate }}</label>
    <select (change)="setLanguage($event)">
      <option *ngFor="let lan of languages">{{ lan }}</option>
    </select>
  </div>
</div>
<div class="card">
  <h1>NGX-TRANSLATE</h1>
</div>
<!-- Terminal -->
<div class="terminal">
  <pre>{{ "welcome" | translate }}   </pre>
  <pre [innerHTML]="'message' | translate"></pre>
  <pre translate [translateParams]="{ var1: '1235', var2: 'test' }">exemple1</pre>
  <pre>{{ "exemple2" | translate:{value:"test"} }}</pre>
</div>
